.btn-close {
    @include no-btn;
    transition: 0.4s;
    background-image: url('../img/icons/close.svg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 26px;
    height: 26px;
    @media (max-width: 835px) {
        align-self: end;
        display: flex;
    }
    @media (max-width: $media-mobile-landscape) {
        transform: scale(0.8);
    }
}
.btn-close:hover, .btn-close:focus:not(:disabled) {
    background-image: url('../img/icons/close-focus.svg');
}
