.checkbox {
    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    &__label {
        position: inherit;
        display: flex;
        align-items:center;
        margin-left: 34px;
        @include text-label;
        transition: 0.4s; 
    }
    
    &__label::before {
        content: ' ';
        position: absolute;
        margin-left: -34px;
        width: 19px;
        height: 19px;
        background-color:inherit; 
        border-radius: 3px;
        border: 2px solid $primary-text;
        transition: 0.4s; 
    }
    
    &__input:disabled + &__label {
        color: $color-disabled;
        cursor: url(../img/icons/cursor-disabled.svg) 2 2, pointer;
    }
    &__input:disabled + &__label::before {
        border: 2px solid $color-disabled;
        cursor: url(../img/icons/cursor-disabled.svg) 2 2, pointer;
    }
    &__input:checked + &__label::before {
        border: 2px solid $primary-text;
        background-image: url('../img/icons/check.svg');
        background-repeat: no-repeat;
        background-size:contain;
    }
    &__label:hover {
        color: $color-text;
        cursor: pointer;
    }
    &__input:hover + &__label::before {
        border: 2px solid $color-text;
    }
    // TODO: разобраться с поведение чекбокса при фокусе через tub и при состоянии checked
    /* &__input:focus + &__label::before {
        border: 2px solid $color-text;
    }
    &__input:focus + &__label {
        color: $color-text;
    } */
}