.filter {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 48px;
    row-gap: 35px;
    padding-bottom: 20px;
    @media (max-width: 1050px) {
        column-gap: 50px;
        row-gap: 30px;
    }
    @media (max-width: 720px) {
        column-gap: 30px;
        row-gap: 25px;
    }
    @media (max-width: $media-mobile-landscape) {
        column-gap: 0;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $primary-text;
        margin-bottom: 10px;
    }
    &__fieldset {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__fieldset > input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    &__radio-label, &__checkbox-label {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $primary-text;
        margin-left: 37px;
        transition: 0.4s;
    }
    &__radio-label::before {
        content: ' ';
        position: absolute;
        margin-left: -37px;
        width: 25px;
        height: 25px;
        background-color:inherit; 
        border-radius: 50%;
        border: 2.5px solid $color-filter-input;
        transition: 0.4s; 
        background-color: $color-filter-input;
        box-shadow: inset 0 0 0 3px #FFFFFF;
    }

    &__fieldset > input:checked + &__radio-label::before,
    &__fieldset > input:hover:enabled + &__radio-label::before {
        border: 2.5px solid $primary-text;
        background-color: $primary-text;  
    }
    &__fieldset > input:hover + &__label::before {
        border: 2px solid $color-disabled;
    }
    
    &__fieldset > input:hover + &__radio-label {
        color: $color-text;
        cursor: pointer; 
    }

    &__checkbox-label::before {
        content: ' ';
        position: absolute;
        margin-left: -37px;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        border: 2.5px solid $color-filter-input;
        transition: 0.4s;    
    }

    &__fieldset > input:checked + &__checkbox-label::before{
        border: 2.5px solid $primary-text; 
        background-image: url('../img/icons/check.svg');
        background-repeat: no-repeat;
        background-position: 50%;
    }

    &__fieldset > input:hover:enabled + &__checkbox-label::before {
        border: 2.5px solid $primary-text; 
    }
    
    &__fieldset > input:hover + &__checkbox-label {
        color: $color-text;
        cursor: pointer; 
    }

    &__fieldset > input:disabled + &__radio-label,
    &__fieldset > input:disabled + &__checkbox-label {
        color: $color-disabled;
        cursor: url(../img/icons/cursor-disabled.svg) 2 2, pointer;
    }
    &__tags {
        @media (max-width: 1050px) {
            order: 5;
        }
        @media (max-width: $media-mobile-landscape) {
            width: calc(50%);
        }
    }
    &__tags-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        width: 115px;
        height: 55px;
    }
    &__views {
        margin-left: 29px;
        @media (max-width: 1050px) {
            order: 2;
            margin-left: 30px;
        }
        @media (max-width: 605px) {
            margin-left: 0;
        }
        @media (max-width: $media-mobile-landscape) {
            width: calc(50%);
        }
    }
    &__comments {
        margin-left: 22px;
        @media (max-width: 1050px) {
            order: 1;
            margin-left: 0;
        }
        @media (max-width: $media-mobile-landscape) {
            width: calc(50%);
        }
    }
    &__count-show {
        margin-left: 89px;
        @media (max-width: 1050px) {
            order: 4;
            margin-left: 30px;
        }
        @media (max-width: 605px) {
            margin-left: 0;
        }
        @media (max-width: $media-mobile-landscape) {
            width: calc(50%);
        }
    }
    &__sorts {
        margin-left: 28px;
        @media (max-width: 1050px) {
            order: 3;
        }
        @media (max-width: 605px) {
            margin-left: 0;
        }
        @media (max-width: $media-mobile-landscape) {
            width: calc(50%);
        }
    }
    &__reset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        @media (max-width: 1050px) {
            order: 6;
        }
    }
    &__reset-subtitle {
        @include text-label;
        color: $color-filter-input;
    }
    &__search {
        display:flex;
        width: 100%;
        @media (max-width: 1050px) {
            order: 7;
        }
        @media (max-width: $media-mobile-landscape) {
            flex-wrap: wrap;
            row-gap: 10px;
        }
    }
    &__search-input {
        border: 2.5px solid $color-filter-input;
        height: 50px;
        margin-right: 30px;
        width: 87%;
        @media (max-width: $media-mobile-landscape) {
            width: 100%;
            margin: 10px 0;
        }   
    }
    &__search-label {
        width: 0;
        height: 0;
    }
    &__search-btn {
        height: max-content;
        align-self: center;
        @media (max-width: $media-mobile-landscape) {
            margin-left: auto;
        }
    }
}

.tag-wrapper {
    width: 25px;
    height: 25px;
}

.tag-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0); 
}

.tag-wrapper > label {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #070707;
}

.tag-wrapper > input:checked + .tag-label {
    background-repeat: no-repeat;
    background-position: 50%;
}
.tag-wrapper > input[id = tags-1]:checked + .tag-label {
    background-image: url('../img/icons/vector-checked-1.svg');
}
.tag-wrapper > input[id = tags-2]:checked + .tag-label {
    background-image: url('../img/icons/vector-checked-2.svg');
}
.tag-wrapper > input[id = tags-3]:checked + .tag-label {
    background-image: url('../img/icons/vector-checked-3.svg');
}
.tag-wrapper > input[id = tags-4]:checked + .tag-label {
    background-image: url('../img/icons/vector-checked-4.svg');
}
.tag-wrapper > input[id = tags-5]:checked + .tag-label {
    background-image: url('../img/icons/vector-checked-5.svg');
}
.tag-wrapper > input[id = tags-6]:checked + .tag-label {
    background-image: url('../img/icons/vector-checked-6.svg');
}
.tag-wrapper > input[id = tags-7]:checked + .tag-label {
    background-image: url('../img/icons/vector-checked-7.svg');
}
.tag-wrapper > input[id = tags-8]:checked + .tag-label {
    background-image: url('../img/icons/vector-checked-8.svg');
}
