.form-edit-password {
    min-width: 370px;
    @include form;
    flex-direction: column;
    @media (max-width: $media-mobile-landscape) {
        min-width: 320px;
    }
    @media (max-width: 375px) {
        border: none;
        padding: 10px 20px;
    }
    &__btn {
        margin-top: 6px;
    }
}