html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $color-bg;
  color: $primary-text;
  font-family: $gilroy;
  height: 100%;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: $gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: $color-text;
  transition: 0.4s;
}

h1 {
  font-family: $gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

h2 {
  font-family: $gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
}

p {
  font-family: $gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: $primary-text;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

fieldset {
  border: none;
  padding: 0;
}

.visually-hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}