/*
  System font stack used as base sans-serif and monospace
  https://css-tricks.com/snippets/css/system-font-stack/
*/
$font-serif-family:
  system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

/*
  Themes fonts
*/
$font-base-family: $font-serif-family;
$gilroy: 'Gilroy', sans-serif;

/*
* Breakpoints
*/
$media-mobile: 320px;
$media-mobile-landscape: 425px;
$media-tablet: 768px;
$media-tablet-landscape: 1024px;
$media-desktop: 1200px;

/*
* Colors
*/

$color-bg: #fff;
$color-section: #F6F6F6;
$primary-text: #070707;
$color-text: #828282;
$color-disabled: #E5E5E5;
$color-bad:  #EB3617;
$color-good: #03BC3C;
