@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/header";
@import "_blocks/filter";
@import "_blocks/footer";
@import "_blocks/button-close";
@import "_blocks/buttons";
@import "_blocks/checkbox";
@import "_blocks/server-message";
@import "blog";
@import "profile";
@import "fonts";

/*    SUMMARY    */

.summary {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  @media (max-width: 529px) {
    padding-top: 30px;
    padding-bottom: 36px;
    row-gap: 20px;
    @media (max-width: 375px) {
      column-gap: 40px;
      justify-content: space-between;
    }
  }
  &__title {
    display: block;
    margin: 0;
    width: min-content;
    padding-bottom: 36px;
    @media (max-width: 509px) {
      padding-bottom: 0;
    }
  }
  &__info {
    display: flex;
    align-items: end;
    padding-bottom: 44px;
    max-width: 226px;
    @media (max-width: 375px) {
      max-width: 205px;
    }
  }
  &__slider {
    margin: 0 auto;
    width: 100%;
  }
  &__slider-wrapper {
    overflow: hidden;
  }
  &__slider-inner {
    display: flex;
    height: 100%;
    transition: transform;
  }
  &__slide {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 465px;
    font-size: 24px;
    color: $color-section;
  }
  &__slide:nth-child(4n + 1) {
    background-color: aqua;
  }
  &__slide:nth-child(4n + 2) {
    background-color: crimson;
  }
  &__slide:nth-child(4n + 3) {
    background-color: yellowgreen;
  }
  &__slide:nth-child(4n + 4) {
    background-color: yellow;
  }
  &__slider-panel {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__slider-btn {
    @include no-btn;
    width: 42px;
    height: 42px;
    transition: 0.5s;
  }
  &__slider-btn:nth-of-type(1) {
    background-image: url('../img/icons/btn-next.svg');
    transform: rotate(180deg);
  }
  &__slider-btn:nth-of-type(1):hover, &__slider-btn:nth-of-type(1):focus:not(:disabled) {
    background-image: url('../img/icons/btn-arrow-hover.svg');
    transform: rotate(180deg);
  }
  &__slider-btn:nth-of-type(1):disabled {
    cursor: url(../img/icons/cursor-disabled.svg) 2 2, pointer;
    background-image: url('../img/icons/btn-arrow-disabled.svg');
    transform: rotate(180deg);
  }
  &__slider-btn:nth-of-type(2) {
    background-image: url('../img/icons/btn-next.svg');
  }
  &__slider-btn:nth-of-type(2):hover, &__slider-btn:nth-of-type(2):focus:not(:disabled) {
    background-image: url('../img/icons/btn-arrow-hover.svg');
  }
  &__slider-btn:nth-of-type(2):disabled {
    cursor: url(../img/icons/cursor-disabled.svg) 2 2, pointer;
    background-image: url('../img/icons/btn-arrow-disabled.svg');
  }
  &__slider-pagination {
    display: flex;
    gap: 7px;
  }
  &__slider-dot {
    border-radius: 45%;
    border: none; 
    width: 10px;
    height: 10px;
    outline: none;
    background-color: $color-disabled;
    transition: 0.5s;
  }
  &__slider-dot_active {
    background-color: $primary-text;
  }
  &__slider-dot:hover, &__slider-dot:focus {
    background-color: $color-text;
  }
}

/*    ABOUT ME    */
.about {
  margin: 0 auto;
  background-color: $color-section;
  display: flex;
  justify-content: center;
  &__inner {
    max-width: 580px;
    padding: 60px 0 81px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    @media (max-width: 620px) {
      padding: 40px 20px 61px;
    }
  }
  &__title {
    text-align: center;
  }
  &__text {
    position: relative;
    padding: 15px;
    max-width: 475px;
    border: 2.5px solid $primary-text;
    @media (max-width: 620px) {
      margin-left: 0;
    }
  }
  &__text:nth-of-type(2n+1) {
    margin-left: -100px;
    @media (max-width: 620px) {
      margin-left: 0;
    }
  }
  &__text:nth-of-type(2n) {
    margin-left: 100px;
    @media (max-width: 620px) {
      margin-left: 0;
    }
  }
  &__text:nth-of-type(2n+1)::after {
    @include dialog-box-tail;
    right: 5%;
  }
  &__text:nth-of-type(2n)::after {
    @include dialog-box-tail;
    left: 5%;
  }
}

/*    SKILLS    */

.skills {
  margin-top: 60px;
  margin-bottom: 60px;
  @media (max-width: 730px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }
  &__subtitle {
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
  }
  &__list{
    @include no-list;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    @media (max-width: 880px) {
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 40px;
    }
    @media (max-width: 730px) {
      grid-template-columns: repeat(2, 1fr);
    }

  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  
  &__name {
    @include text-skills;
  }
  &__progress-inner {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    margin: 4px 0;
  }
  &__progress-value {
    @include text-skills;
  }
  &__progress {
    position: relative;
    width: 140px;
    height: 9px;
    background-color: $color-disabled;
    @media (max-width: 1055px) {
      width: 108px;
    }
    @media (max-width: 375px) {
      width: 90px;
    }
  }
  &__progress::after {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: $primary-text;
    height: 9px;
    width: calc(var(--width, 0) * 1%);
  }
}

/*    PORTFOLIO    */

.portfolio {
  background-color: $color-section;
  margin: auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  @media (max-width: $media-mobile-landscape) {
    padding: 40px 0;
    row-gap: 30px;
  }
  &__inner {
    position: relative;
    width: 100%;
    height: 604px;
  }
  &__info {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    row-gap: 16px;

    height: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 2;
    background-color: rgba(7, 7, 7, 0.85);
    @media (max-width: 720px) {
      height: 181px;
    }
  }
  &__info-heading {
    @include slider-info;
    font-size: 18px;
    line-height: 22px;
    max-width: max-content;
    text-decoration: underline dashed #FFFFFF;
    text-underline-offset: 5px;
    @media (max-width: 375px) {
      max-width: 159px;
    }
  }
  &__info-desc {
    @include slider-info;
    font-size: 14px;
    line-height: 16px;
    width: calc(100% - 300px * 2);
    @media (max-width: 1050px) {
      width: calc(100% - 122px * 2);
    }
    @media (max-width: 720px) {
      width: calc(100% - 15px * 2);
    }
  }

}

.swiper {
  width: 100%;
  height: 604px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
}
.swiper-button-next, .swiper-button-prev {
  color: $primary-text;
}
.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 42px;
  font-weight: bold;
  text-shadow: 0px 0px 10px #00000040;
}

/*   MODAL WINDOW   */

.popup {
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  opacity: 0.99;
  z-index: 20;
  overflow-y: auto;
  @media (max-width: 375px) {
    background-color: #FFFFFF;
    opacity: 1;
  }
}

.form {
  @include form;
  max-width: 680px;
  flex-direction: row;
  flex-wrap: wrap;
  @media (max-width: 560px) {
    padding: 20px;
  }
  @media (max-width: 375px) {
    border: none;
    padding: 10px 0;
  }
  &__wrapper {
    padding-top: 118px;
    @include form-wrapper;
    @media (max-width: 835px) {
      flex-direction: column-reverse;
      padding: 45px;
      align-items: center;
    }
    @media (max-width: $media-mobile-landscape) {
      padding: 20px;
    }
  }
  &__inputs-wrap {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    @media (max-width: 665px) {
      flex-direction: column;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 100%;
    gap: 6px;
  }
  
  &__label {
    @include text-label;
  }
  &__inner > input {
    @include input-textarea-styles;
    height: 50px;
    outline: none;
  }
  
  &__inner > input.invalid {
    border: 2.5px solid $color-bad;
  }
  &__inner > input.valid {
    border: 2.5px solid $color-good;
  }
  &__inner > textarea {
    @include input-textarea-styles;
    width: 100%;
    resize: none;
  }
  &__inner > input:hover, &__inner > textarea:hover {
    border: 2.5px solid $color-text;
    cursor: pointer;
  }
  &__inner > input:focus, &__inner > textarea:focus {
    border: 2.5px solid $primary-text;
  }
  &__inner > input[required] + &__label:after {
    content: "*";
    padding-left: 5px;
    color: $color-bad;
  }
}

.login-form {
  max-width: 370px;

 &__wrapper {
  padding-top: 225px;
  @include form-wrapper;
  @media (max-width: 500px) {
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 375px) {
    padding-top: 75px;
  }
 }
 &__btn-close {
    align-self: start;
    @media (max-width: 500px) {
      align-self: end;
    }
 }
 &__btn {
  margin-top: 10px;
 }
}

/* BUTTON TO TOP */
.button-to-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 5; 
  @include no-btn;
  background-image: url('../img/icons/btn-to-top.svg');
  width: 62px;
  height: 62px;
}

/* DINAMIC ELEMENTS */

// class of error div
.invalid-message {
  color: $color-bad;
  font-size: 14px;
  line-height: 16px;
  max-width: 286px;
}

// class of success div
.valid-message {
  color: $color-good;
  font-size: 14px;
  line-height: 16px;
}

// loader

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  z-index: 30;
}

.spinner-border {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 10px dotted $color-section;
  animation: loader-rotate 5s infinite linear;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
