@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/header";
@import "_blocks/footer";
@import "fonts";

/*    SUMMARY    */

.summary {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  &__title {
    margin: 0;
    max-width: 30%;
    padding-bottom: 36px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding-bottom: 44px;
  }
  &__slider {
    width: 100%;
  }
}

/*    ABOUT ME    */
.about {
  margin: 0 auto;
  background-color: $color-section;
  display: flex;
  justify-content: center;
  &__inner {
    max-width: 580px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
  }
  &__title {
    text-align: center;
  }
  &__text {
    position: relative;
    padding: 15px;
    max-width: 475px;
    border: 2.5px solid $primary-text;
  }
  &__text:nth-of-type(2n+1) {
    margin-left: -100px;
  }
  &__text:nth-of-type(2n) {
    margin-left: 100px;
  }
  &__text:nth-of-type(2n+1)::after {
    @include dialog-box-tail;
    right: 5%;
  }
  &__text:nth-of-type(2n)::after {
    @include dialog-box-tail;
    left: 5%;
  }
}