<footer class="footer @@blogStyle">
  <h2 class="footer__title">Contacts</h2>
  <p class="footer__desc">Want to know more or just chat? You are welcome!</p>
  <button class="footer__btn-connect footer__btn-connect_js" type="button">Send message</button>
  <ul class="footer__list">
    <li class="footer__item"><a class="footer__link" href="#">Instagram</a></li>
    <li class="footer__item"><a class="footer__link" href="#">Vk</a></li>
    <li class="footer__item"><a class="footer__link" href="#">Telegram</a></li>
    <li class="footer__item"><a class="footer__link" href="#">Mail</a></li>
    <li class="footer__item"><a class="footer__link" href="#">GitHub</a></li>
    <li class="footer__item"><a class="footer__link" href="#">Phone</a></li>
  </ul>
  <a class="footer__design-link" href="https://dlacademy.ru/">Design by <span>DL Academy</span></a>
  <p class="footer__author"> Program code from Julia</p>
</footer>
