<form class="form form-edit-password" name="editPasswordForm" novalidate>
    <div class="form__inner">
      <input class="form__input_js form__input-focus_js" type="password" name="oldPassword" id="old-password" aria-label="enter the current password" required>
      <label class="form__label" for="old-password">Old password</label>
    </div>
    <div class="form__inner">
      <input class="form__input_js" type="password" name="newPassword" id="new-password" aria-label="enter the new password" autocomplete="on" required>
        <label class="form__label" for="new-password">New password</label>
    </div>
    <div class="form__inner">
      <input class="form__input_js" type="password" name="repeatPassword" id="confirm-password" aria-label="confirm the new password" required>
      <label class="form__label" for="confirm-password">Repeat new password</label>
    </div>
      @@include('blocks/buttons.html',
      {"additionalClass": "form-edit-password__btn",
      "classJs": "form-edit-password__btn_js",
      "buttonType": "submit",
      "buttonName": "change password",
      "btnAriaLabel": "save new password",
      "buttonTab": "0",
      "atr": ""})
</form>