<header class="header container">
    <nav class="header__nav">
        <ul class="header__list">
            <li><a class="header__link header__home-link_js" href="/">Home</a></li>
            <li><a class="header__link header__blog-link_js" href="./blog.html">My blog</a></li>
            <li><a class="header__link header__profile-link visually-hidden header__profile-link_js" href="./profile.html">My profile</a></li>
            <li><button class="header__btn header__login-btn header__login-btn_js" type="button">Sign in</button></li>
            <li><button class="header__btn header__reg-btn header__reg-btn_js" type="button">Register</button></li>
        </ul>
    </nav>
    <nav class="header__burger visually-hidden">
        @@include('blocks/button-close.html', 
        {"addClass": "header__burger-btn-close",
        "addClassJs": "header__burger-btn-close_js",
        "btnLabel": "close burger menu",
        "btnTab": "0"})
        <ul class="header__burger-list">
            <li><a class="header__link header__burger-link header__burger-home-link_js" href="/">Home</a></li>
            <li><a class="header__link header__burger-link header__burger-blog-link_js" href="./blog.html">My blog</a></li>
            <li><a class="header__link header__burger-link header__profile-link visually-hidden header__burger-profile-link_js" href="./profile.html">My profile</a></li>
            <li><button class="header__btn header__burger-btn header__burger-login-btn_js" type="button">Sign in</button></li>
            <li><button class="header__btn header__burger-btn header__burger-reg-btn_js" type="button">Register</button></li>
        </ul>
    </nav>
    <button class="@@posOnPage header__burger-btn-open header__burger-btn-open_js" type="button" aria-label="open burger menu"></button>
</header>
