<header class="header container">
    <nav class="header__nav">
        <a class="header__link header__link--active" href="#">Home</a>
        <ul class="header__list--log-out">
            <li class="header__item"><a class="header__link" href="#">My blog</a></li>
            <li class="header__item"><button class="header__btn" type="button">Sigh in</button></li>
            <li class="header__item"><button class="header__btn" type="button">Register</button></li>
        </ul>
        <ul class="header__list--log-in visually-hidden">
            <li class="header__item"><a class="header__link" href="#">My blog</a></li>
            <li class="header__item"><a class="header__link" href="#">My profile</a></li>
        </ul>
    </nav>
</header>
<div class="header__burger-wrapper visually-hidden">
    <button class="header__burger-btn">
        <svg class="header__burger-svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3.37256" width="32" height="4" rx="2" transform="rotate(45 3.37256 0)" fill="#070707"/>
            <rect x="0.543945" y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0.543945 22.6289)" fill="#070707"/>
            </svg>
    </button>
    <nav class="header__burger">
        <ul class="header__list--log-out">
            <li class="header__item"><a class="header__link--active" href="#">Home</a></li>
            <li class="header__item"><a href="#">My blog</a></li>
            <li class="header__item"><button type="button">Sigh in</button></li>
            <li class="header__item"><button type="button">Register</button></li>
        </ul>
        <ul class="header__list--log-in visually-hidden">
            <li class="header__item"><a href="#">My blog</a></li>
            <li class="header__item"><a href="#">My profile</a></li>
        </ul>
    </nav>
</div>