<div class="popup__connect-form_js popup visually-hidden">
      <div class="form__wrapper">
        @@include('blocks/button-close.html', 
        {"addClass": "connect-form__btn-close",
        "addClassJs": "connect-form__btn-close_js",
        "btnTab": "0",
        "btnLabel": "close form of send message"})
        <form class="form connect-form" action="#" name="connectForm" novalidate>
          <div class="form__inputs-wrap">
            <div class="form__inner">
              <input class="form__input_js" type="text" name="fullName" id="fullName" aria-label="checkbox is not selected" required>
              <label class="form__label" for="fullName">What is your name?</label>
            </div>
            <div class="form__inner">
              <input class="form__input_js" type="text" name="subject" id="subject" aria-label="checkbox is not selected" required>
              <label class="form__label" for="subject">Message subject</label>
            </div> 
          </div>
          <div class="form__inputs-wrap">
            <div class="form__inner">
              <input class="form__input_js" type="email" name="email" id="current-email" aria-label="checkbox is not selected" required>
              <label class="form__label" for="current-email">Your Email</label>
            </div>
            <div class="form__inner">
              <input class="form__input_js" type="tel" name="phone" id="phone" aria-label="checkbox is not selected" required>
              <label class="form__label" for="phone">Your mobile phone</label>
            </div>
          </div>  
          <div class="form__inner">
            <textarea name="message" id="message" cols="30" rows="6"></textarea>
            <label class="form__label" for="message">What do you want to discuss with me?</label>
          </div>
            @@include('blocks/checkbox.html',
            {"addClassInput": "checkbox__input_js",
            "checkboxName": "connectAgreement",
            "checkboxId": "connectAgreement",
            "atrCheckbox": ""})
            @@include('blocks/buttons.html',
            {"additionalClass": "connect-form__btn",
            "classJs": "connect-form__btn_js",
            "buttonType": "submit",
            "buttonName": "Send",
            "btnAriaLabel": "checkbox is not selected",
            "atr": "disabled"})
        </form>
      </div>
    </div>