<div class="popup__registration-form_js popup visually-hidden">
  <div class="form__wrapper">
    <form class="form registration-form" action="#" name="regForm" novalidate>
        <div class="form__inner">
          <input class="form__input_js form__input-focus_js" type="email" name="email" id="email" aria-label="checkbox is not selected" required>
          <label class="form__label" for="email">Email</label>
        </div>
        <div class="form__inputs-wrap">
          <div class="form__inner">
            <input class="form__input_js" type="text" name="name" id="userName" aria-label="checkbox is not selected" required>
            <label class="form__label" for="userName">Name</label>
          </div>
          <div class="form__inner">
            <input class="form__input_js" type="text" name="surname" id="surname" aria-label="checkbox is not selected" required>
            <label class="form__label" for="surname">Surname</label>
          </div>
        </div> 
        <div class="form__inputs-wrap">
          <div class="form__inner">
            <input class="form__input_js" type="password" name="password" id="password" aria-label="checkbox is not selected" autocomplete="on" required>
            <label class="form__label" for="password">Password</label>
          </div>
          <div class="form__inner">
            <input class="form__input_js" type="password" name="repeatPassword" id="repeatPassword" aria-label="checkbox is not selected" autocomplete="off" required>
            <label class="form__label" for="repeatPassword">Repeat password</label>
          </div>
        </div>
        <div class="form__inputs-wrap">
          <div class="form__inner">
            <input class="form__input_js" type="text" name="location" id="location" aria-label="checkbox is not selected" required>
            <label class="form__label" for="location">Location</label>
          </div>
          <div class="form__inner">
            <input class="form__input_js" type="number" name="age" id="age" aria-label="checkbox is not selected" required>
            <label class="form__label" for="age">Age</label>
          </div>
        </div>
          @@include('blocks/checkbox.html',
          {"addClassInput": "checkbox__input_js",
          "checkboxName": "agreement",
          "checkboxId": "agreement",
          "atrCheckbox": ""})
          @@include('blocks/buttons.html',
          {"additionalClass": "registration-form__btn",
          "classJs": "registration-form__btn_js",
          "buttonType": "submit",
          "buttonName": "Sign up",
          "btnAriaLabel": "Sign up",
          "buttonTab": "0",
          "atr": "disabled"})
    </form>
    @@include('blocks/button-close.html', 
    {"addClass": "registration-form__btn-close",
    "addClassJs": "registration-form__btn-close_js",
    "btnTab": "0",
    "btnLabel": "close registration form"})
  </div>
</div>